# Jupyter
.ipynb_checkpoints

# Python cache
*.py[cod]
__pycache__

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Pycharm
.idea

# COSMOS images
datasets/cosmos
/paltas/mcmc_utils.ipynb
/mcmc_utils.ipynb
*mcmc_utils.py
/paltas/example/*
/paltas/example_validation/*
/paltas/example_network_weights/*
*.DS_Store
mcmc_utils.ipynb
mcmc_utils.py
/cmd_outputs/*
/summary_plots/
paltas/summary_plots/example_corner_plot.pdf
paltas/summary_plots/example_corner_plot.png
*.h5
*lens_gif*
paltas/notebooks/End_to_End_Tutorial_Files/*
notebooks/End_to_End_Tutorial_Files/lens_gif_*
*lens_gif_*
/Users/hollowayp/paltas/notebooks/End_to_End_Tutorial_Files/lens_gif_*
/paltas/example/*
/paltas/example_validation/*
/paltas/example_network_weights/*
*.DS_Store
/*.out
./False_Positives_Cutouts/*
./datasets/*
datasets/*
False_Positives_Cutouts/*
paltas_plots/*
RSP_test_file/*
variance_npy_files/*
*.npy
*./*.npy
*.h5
*./*.h5
*.out
*./*.out
*.csv
*./*.csv
*.vs_code_python114_archive/*
old_config_files/*
paltas_offset_shear_test/*
Summary_Plots/*
quick_image_checks/*
shear_test/*
wandb/*
*.png
*.pdf
/Users/hollowayp/paltas/notebooks/End_to_End_Example_Inference_Working_File.db
*.db
